S3method(print,facets_out)
export(facets_theme)
export(plot_usage)
export(plot_estimates)
export(plot_ogive)
export(plot_distribution)
export(plot_fairness)
export(plot_probability)
export(plot_structure)
export(plot_unexpected)
export(plot_wright)
export(read_facets)
export(render_batch)
export(render_plots)
export(run_app)
importFrom(rlang,.data)

